body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial , sans-serif";
}

.carousel-caption{
height: 300px;
top:250px;
color: white;
}
.carousel-caption p{
    color: white;
    font-size: 28px;
    line-height: 1.2857;
}
.carousel-caption h1{
    color: white;
    font-size: 60px;
    line-height: 1.1;
}
.carousel-caption button{
    width: 170px;
    height: 50px;
    border-radius: 40px;
    background-color: #717fe0;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
}
.carousel-caption button:hover{
    color: #717fe0;
    background-color: #fff;
}

/*carousel*/
.carousel-control-next, .carousel-control-prev {
    margin-top: 350px;
    height: 100px;
}
/*
  .carousel-item{
    position: relative;
}
.carousel-item::before {
    content: "";
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   background-color:#000; 
    opacity: 0.5;
    }
   */
   .carousel-control-prev-icon , 
    .carousel-control-next-icon  {
       background-image: none;
   }
   .carousel-control-prev ,.carousel-control-next{
    text-decoration: none;

   }
   .carousel-control-next .fas ,.carousel-control-prev .fas{
   font-size: 60px;

   }

/*indicators*/
.carousel-indicators {
    height: 100px;
    margin-bottom: 80px;
}
.carousel-dark .carousel-indicators li{
    height: 100%;
    width: 190px;
    text-indent: 0;
    opacity: 1;
}
 .carousel-indicators  .active .indicators-img{
    opacity: .5;
} 
.carousel-dark .carousel-indicators li span{
    position:absolute;
    display: flex;
    color: white;
    top: 20px;
    margin-top: 30px;
    margin-left: 50px;
    opacity: 0;
}
.carousel-indicators .active .indicators-type{
    opacity: 1;
}
.carousel-dark .carousel-indicators li:hover .indicators-img{
    opacity: .5;
}
.carousel-dark .carousel-indicators li:hover .indicators-type{
    opacity: 1;
}
/*navigation*/
nav {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;
}

.nav-box {
    width: 100%;
    top: 0;
    position: absolute;
    display: inline-flex;
    border-bottom: 1px solid rgb(255, 255, 255, .1);
}

ul {
    display: inline-flex;
    list-style: none;
    padding-top: 15px;
    padding-right: 100px;
}

ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
}

ul li a:hover {
    color: #717fe0;
}


/*dropdown*/

.drop-down {
    position: relative;
}

.dropdownmenu {
    position: absolute;
    display: none;
    width: 180px;
    height: 120px;
    left: 256px;
    padding: 0px;
    background-color: #fff;
    z-index: 1;
}

.dropdownmenu li {
    margin-top: 10px;
}

.dropdownitem {
    display: block;
    color: #555;
    font-size: 16px;
    font-weight: 400;
}

.drop-down:hover .dropdownmenu {
    display: block;
}

.fas {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.fas:hover {
    color: #717fe0;
}

.nav-icons {
    display: inline-flex;
    float: right;
}

.shopping-icon {
    padding: 40px 40px 10px 40px;
    border-right: 1px solid rgb(255, 255, 255, .1);
}

.menu-icon {
    padding: 40px 30px 10px 40px;
}


/*sidebar*/

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: -400px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 50px;
}

.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}

.sidenav-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.sidenav .closebtn1 {
    position: absolute;
    font-size: 36px;
    right: 85px;
    margin-left: 50px;
    top: 30px;
}

.sidenav-img {
    display: flex;
    padding-top: 20px;
}

.sidenav-img-info {
    display: block;
    margin-left: 15px;
    color: #555;
}

.sidenav-content h6 {
    padding-top: 160px;
    font-size: 18px;
}

.sidenav-btns {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.sidenav-btns button {
    width: 130px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
}

.sidenav-btns button:hover {
    background-color: #717fe0;
}


/*sidebermenu*/

.sidenav-menu {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -400px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    padding-tOP: 50px;
}

.sidenav-menu a {
    padding: 8px 8px 8px 65px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
    display: block;
}

.sidenav-menu a:hover {
    color: #717fe0;
}

.sidenav-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-menu h5 {
    padding: 40px 0px 0px 65px;
}

.items {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
}

.items img {
    width: 30%;
    margin-bottom: 10px;
    margin-left: 5px;
}

.aboutus {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.aboutus p {
    color: #888;
    padding-top: 20px;
}

/*animatiiiiiiiiiiiiiiiiiiiiiiion*/
/*carousel caption 1*/
#carousel-caption1 p{

   animation:fadeInDown 1s;
}
@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-40px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
}
#carousel-caption1 h1{
  opacity: 0;
  animation: fadeInUp 1s;
  animation-delay: .7s;
  animation-fill-mode: both;

}

@keyframes fadeInUp { 
    from { 
        opacity: 0; 
        transform: translateY(70px); 
    } 
    to{ 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
#carousel-caption1 button{
    opacity: 0;
    animation: zoomIn 1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}
@keyframes zoomIn { 
    from{ 
        opacity: 0; 
        transform: scale3d(.3, .3, .3); 
    }  
    to{
        opacity: 1;
    }
} 
/*carousel caption 2*/
#carousel-caption2 p{
  animation: rotateInDownLeft 1s;
  animation-fill-mode: both; 
  animation-timing-function: linear; 
}
@keyframes rotateInDownLeft { 
    from { 
        transform-origin: left bottom; 
        transform: rotate(-90deg); 
        opacity: 0; 
    } 
    to{ 
        transform-origin: left bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
}
#carousel-caption2 h1{
  animation: bounceInRight 2s;
  animation-fill-mode: both; 
  animation-timing-function: linear; 
  animation-delay: .3s;
}
@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(-30px); 
    } 
    80% { 
        transform: translateX(10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
}
#carousel-caption2 button{
 opacity: 0;
 animation: fadeInUp 1s;
 animation-delay: 1.5s;
 animation-fill-mode: both; 
}
@keyframes fadeInUp { 
    from { 
        opacity: 0; 
        transform: translateY(50px); 
    } 
    to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
/*carousel caption 3*/
#carousel-caption3 p{
 animation:rotateInDownLeft 1s ;
 animation-fill-mode: both; 
 animation-timing-function: linear; 
}
@keyframes rotateInDownLeft { 
    0% { 
        transform-origin: left bottom; 
        transform: rotate(-10deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: left bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
}
#carousel-caption3 h1{
 opacity: 0;
 animation: rotateInUpRight .6s;
 animation-delay: 1s;
 animation-fill-mode: both; 
 animation-timing-function: linear;
}
@keyframes rotateInUpRight { 
    from { 
        transform-origin: right bottom; 
        transform: rotate(-20deg); 
        opacity: 0; 
    } 
    to{ 
        transform-origin: right bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
}
#carousel-caption3 button{
    opacity: 0;
    animation: rotate 1s;
    animation-delay: 1.5s;
    animation-fill-mode: both; 
}
@keyframes rotate {
  
   from{
       transform: rotate(-200deg);
       opacity: 0;
    }
    to{
       transform: rotate(0deg);
       opacity: 1;
    }
}


